<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <link rel="stylesheet" href="profile.css">
  <title>KnowYourCibo</title>
  <meta charset="UTF-8">
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Monoton&display=swap" rel="stylesheet">
</head>

<!--=============== CURSOR ===============-->
<div id="cursor"></div>

<script type="text/javascript">
  var cursor = document.getElementById("cursor");
  document.addEventListener('mousemove', function(e){
    var x = e.clientX;
    var y = e.clientY;
    cursor.style.left = x + "px";
    cursor.style.top = y + "px";
  })
</script>




<body>

<header class="wrapper">
  <div >
    <div class="nav">
      <div class="logo">KnowYourCibo</div>

      <div class="menu-links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Restaurants</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>

      <div class="search"><i class="fa fa-search"></i></div>

      <div class="account"><a href="#">my account</a></div>


    </div>
  </div>
</header>


<div class="social-media">
  <ul>
        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
  </ul>
</div>



<main>

  
      <div class="column">
        <div class="leftcol">
          <div class="img__container">
            <img src="../public/profileImages/user.jpeg" alt="Anna Smith" />
          </div>
          <h2>Anna Smith</h2>
          <p>anna@example.com</p>
      
          <ul class="about">
            <li><span>4,073</span>Favorites</li>
            <li><span>322</span>Rating</li>
            <li><span>200,543</span>Reviews</li>
          </ul>
          <hr>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
              erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
              ligula egestas nulla.
            </p>
            <button>
              <a href="editProfile">Edit Profile</a>
            </button>

          </div>
        </div>
        <div class="rightcol">
            <ul>
                <h2>FAVORITE ITEMS</h2>
            </ul>
      
          <div class="photos">
            <div>
                <img src="profileImages/img_1.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_2.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_3.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_4.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_5.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_6.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_1.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_2.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_3.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_4.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_5.avif" alt="Photo" />
            </div>
            <div>
                <img src="profileImages/img_6.avif" alt="Photo" />
            </div>
            <div>
              <img src="profileImages/img_1.avif" alt="Photo" />
          </div>
          <div>
              <img src="profileImages/img_2.avif" alt="Photo" />
          </div>
          <div>
              <img src="profileImages/img_3.avif" alt="Photo" />
          </div>
          <div>
              <img src="profileImages/img_4.avif" alt="Photo" />
          </div>
          <div>
              <img src="profileImages/img_5.avif" alt="Photo" />
          </div>
          <div>
              <img src="profileImages/img_6.avif" alt="Photo" />
          </div>
        </div>
      </div>
      </div>
  

  <section class="bottom-bar">
        <div class="container">
              <div class="row">
                    <div class="col-lg-4">
                      <h6>Contact Us</h6>
                      <p>Phone: <a href="tel:+1234567890">+91 7842443888</a></p>
                      <p>Email: <a href="mailto:info@example.com">vijaymahanthi0520@gmail.com</a></p>
                      <p>Instagram: <a href="https://instagram.com/yourusername" target="_blank">@knowyourcibo</a></p>
                    </div>
              </div>
        </div>

        <div class="copyright">© 2024 by KnowYourCibo. All rights reserved.</div>
  </section>

  <div class="side-strip">
        <span>EAT RATE CURATE</span>
  </div>




</main>

  <script>

    TweenMax.from(".logo", 1, {
      delay: 1,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.staggerFrom(".menu-links ul li", 1, {
      delay: 1.2,
      opacity: 0,
      x: -20,
      ease: Power3.easeInOut
    }, 0.08)

    TweenMax.from(".search", 1, {
      delay: 1.5,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".account", 1, {
      delay: 1.6,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.staggerFrom(".social-media ul li", 1, {
    delay: 1.75,
    opacity: 0,
    y: 20,
    ease: Power3.easeInOut
  }, 0.08);

    TweenMax.from(".bottom-bar", 1, {
      delay: 1.7,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".copyright", 1, {
      delay: 1.7,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.staggerFrom(".side-strip", 1, {
    delay: 1.8,
    opacity: 0,
    y: 20,
    ease: Power3.easeInOut
  }, 0.08);

    TweenMax.from(".rightcol", 1.5, {
      delay: 1.7,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })

    TweenMax.from(".leftcol", 1.5, {
      delay: 1.6,
      opacity: 0,
      x: -20,
      ease: Expo.easeInOut
    })





  </script>
  <style>
    .container1{
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 70px;
    margin-bottom: 100%;
    }
  </style>


</body>

</html>
