body {
    font-family: Arial, sans-serif;
    background-image: url('img1.jpg'); /* Make sure the path to the image is correct */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-position: center; /* Centers the background image */
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 450px; /* Adjusted for a more spacious form */
}

label {
    display: block;
    margin-bottom: 10px;
    color: grey;
    font-size: medium; /* Increased for better readability */
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px; /* Increased padding for larger input fields */
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 5px;
}

button {
    width: 100%; /* Full width button */
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Larger font size */
}

button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

#message {
    color: red;
    margin-top: 20px;
}

#pageInfo {
    color: orange;
    margin-bottom: 20px; /* Added margin for spacing */
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* More responsive on smaller screens */
    }
}
