body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-content,
.navigation,
.right-content {
    display: flex;
}

h1 {
    margin: 0;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.right-content input {
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.profile-section {
    display: flex;
    flex-grow: 1;
}

.profile-section img {
    width: 50%;
    height: auto;
}

.profile-container {
    width: 50%; /* Adjust width as needed */
    background-color: #e0ad94;; /* Light red background */
    padding: 20px;
    display: flex;
    justify-content: center; /* Center content horizontally */
}

.profile-card {
    background-color: white; /* White card background */
    border: 1px solid #ccc; /* Optional border for card */
    padding: 50px; /* Padding for card content */
    margin: 0 auto; /* Center the card horizontally */
    max-width: 80%; /* Adjust max-width as needed */
    border-radius: 20px; /* Add rounded corners */
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.password-validation {
    font-size: 0.8rem; /* Adjust font size as needed */
    color: #999; /* Gray color for the message */
    margin-top: 5px; /* Add some margin for spacing */
}








